aside.sidebar[aria-label="Event Filter Sidebar"] {
    display: none !important;
}

section.appbar-header {
    display: none !important;
}

body {
  background-color: #ffffff;
}

.grid-title {
  display: none;
}

.appbar {
    border-bottom: none !important;
    box-shadow: none !important;
}

.appbar-header {
    border-bottom: none !important;
    box-shadow: none !important;
}
