.organizer-name {
display: none !important;
}

.column-container {
    display: block !important;
    gap: 0 !important;
}

.details {
    display: none !important;
}

#description {
    width: 100% !important;
    max-width: 100% !important;
}
